@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Klee+One:wght@400;600&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

	{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@media (max-width: 320px) {
	img {
		display: block;
		margin: auto;
		width: 100%;
	}
}

@media (min-width: 1280px) {
	.main-text {
		font-size: 25px;
	}

	.heading-font {
		font-size: 45px;
	}
}

.navigation {
	background-color: #534B37;
	margin: 0;
}

body {
	background-color: #C56A28;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-family: "Nanum Myeongjo", serif;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	position: relative;
}

h1::before {
	content: "";
	display: inline-block;
	width: 3px;
	height: 211px;
	background-color: #FBE38F;
	position: absolute;
	left: 0;
	top: 0;

}

.main-text {
	font-family: "Klee One";
	text-align: left;
}

.heading-font {
	font-family: "Just Me Again Down Here";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	color: black;
	text-align: center;
}


.border-image {
	width: 100%;
	max-width: 100%;
	height: auto;
	border: 10px solid #8B4614;
	box-sizing: border-box;
	display: block;
}

.rounded-box {
	background-color: #D9D9D9;
	padding: 5px 10px;
	border-radius: 12px;
	margin: 15px;
}

.header-background {
	background-color: #FBE38F;
	padding: 5px 10px;
}